<div class="tab-pane" id="image">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fas fa-images"></i>
                <span class="caption-subject uppercase"> Danh sách chụp chiếu</span>
            </div>
            <div class="actions pull-left">
                {{#isActiveFunction Info.Role 'CreateImage'}}
                <a href="#create_image" class="btn btn-circle btn-success" data-toggle="modal"><i
                        class="fa fa-plus"></i>
                    Thêm mới </a>
                {{/isActiveFunction}}
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-group row">
                <div class="col-md-10">
                    <div class="col-md-12 flex-box">
                        <div class="input-group" style="z-index: 1000 !important;">
                            <div class="input-group-control">
                                <select style="width: 100px;"
                                    class="bs-select form-control limit-data pull-left"
                                    ng-model="paginateImage.Limit" ng-change="paginateImage.Page = 1; listImage();"
                                    ng-options="v as v for (k,v) in limitData">
                                    <option value="" ng-if="hideOptions"></option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group" style="z-index: 5 !important;">
                            <div class="input-group-control">
                                <select class="selectpicker form-control" data-live-search="true" 
                            data-title="Loại chụp chiếu" ng-change="paginateImage.Page = 1; listImage();"
                            ng-options="item.TypeName as item.TypeName for item in typeImages"
                            ng-model="paginateImage.Type">
                                <option value="" ng-if="hideOption"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 box-search-wrapper">
                    <div class="col-md-12">
                        <div class="form-search pull-right">
                            <div class="input-icon right">
                                <i class="fas fa-search"></i>
                                <input type="text" ng-model="paginateImage.Search" name="bar_code"
                                    class="form-control" ng-change="paginateImage.Page = 1; listImage()"
                                    placeholder="Tìm kiếm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-scrollable wrapper-table-update">
                <table class="table table-light table-hover">
                    <thead>
                        <tr>
                            <th class="rowno"> STT </a> </th>
                            <th class="title"> Ngày khám bệnh</a></th>
                            <th class="title"> Mã chụp chiếu </th>
                            <th class="title"> Loại chụp chiếu </a></th>
                            <th class="title"> Người thực hiện </th>
                            <th class="title"> Ngày thực hiện </a></th>
                            <th class="th-size-update"> Trạng thái</a></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="(idx, item) in items"
                        ng-init='valueDetails=(item.Images); rowSpan=item.Images.length; idxRoot=$index'>
                        <tr ng-repeat="detail in valueDetails">
                            <td ng-if="$first" rowspan="\{{rowSpan}}" ng-bind="idx + 1"></td>
                            <td ng-if="$first" ng-bind="item.CreatedDate | formatDateToDMY" rowspan="\{{rowSpan}}"></td>
                            <td class="bd-bt-grey">
                                <a href="#update_image" ng-click="infoImage(detail)" ng-bind="detail.ImageCode"
                                    data-toggle="modal"></a>
                            </td>
                            <td ng-bind="detail.Type"></td>
                            <td ng-bind="detail.User | filterToString"></td>
                            <td ng-bind="detail.UpdatedDate | formatDateToDMY : 'DD-MM-YYYY HH:mm:ss'"></td>
                            <td class="status ">
                                <div class="btn-group status dropup update-status-mgt">
                                    <label class="btn btn-sm btn-status"
                                        ng-class="detail.Status | filterStatusToClass"
                                        ng-bind="detail.Status | filterStatusImageToText">
                                    </label>
                                    <button type="button" class="btn btn-sm btn-info dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-angle-up"></i>
                                    </button>
                                    <ul class="dropdown-menu status pull-right" role="menu">
                                        <li class="status-Active"><a href="javascript:;" data-value="Active"
                                                ng-click="updateStatusImage(200, detail.ImageObjectId, $index)">
                                                Đang chụp
                                            </a>
                                        </li>
                                        <li class="status-Inactive"><a href="javascript:;"
                                                data-value="Inactive"
                                                ng-click="updateStatusImage(400, detail.ImageObjectId, $index)">
                                                Đã chụp </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="boxs-footer dvd dvd-top">
                <div class="row" ng-if="paginationImage.show">
                    <div class="col-sm-3 text-left">
                        <small class="text-muted"
                            ng-bind="'Hiển thị ' + paginationImage.skip + '-' + paginationImage.toSkip + '/' + paginationImage.total + ' mục'">
                        </small>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="pagination m-0">
                            <li>
                                <a ng-click="firstPageImage()">
                                    <i class="fas fa-angle-double-left"></i>
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li>
                                <a ng-click="prevPageImage()">
                                    <i class="fa fa-chevron-left"></i>
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li ng-repeat="page in paginationImage.pages" style="cursor: pointer"
                                ng-class="{active:paginationImage.page === page}">
                                <a ng-click="setPageImage(page)" ng-bind="page"></a>
                            </li>
                            <li>
                                <a ng-click="nextPageImage()">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-click="endPageImage()">
                                    <i class="fas fa-angle-double-right"></i>
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div id="create_image" class="modal fade in" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="fullscreen" data-original-title="" title="">
                    </a>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><i class="fas fa-images"></i>
                        Thông tin chụp chiếu
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="f_CreateImage" ng-validate="validatorImage">
                        <div class="form-body">
                            <div class="form-group" ng-if="alertShow">
                                <div class="alert alert-\{{alertClass}}" ng-bind="alertMsg"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mã chụp chiếu<span
                                        class="required">(*)</span>:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="image_code"
                                        ng-model="formCreateImage.ImageCode" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Loại chụp chiếu<span class="required">(*)</span>:</label>
                                <div class="col-md-8">
                                    <select class="selectpicker form-control" name="type"
                                        ng-model="formCreateImage.Type"
                                        ng-options="type.TypeName as type.TypeName for type in typeImages"
                                        data-live-search="true" data-size="5" title="Chọn loại chụp chiếu">
                                        <option value="" ng-if="hideOptions"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    {{#isActiveFunction Info.Role 'CreateImage'}}
                    <button type="button" class="btn green" ng-click="createImage(f_CreateImage)">
                        Lưu</button>
                    {{/isActiveFunction}}
                    <button type="button" data-dismiss="modal" class="btn default">
                        Hủy</button>
                </div>

            </div>
        </div>
    </div>
    <div id="update_image" class="modal fade in" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="fullscreen" data-original-title="" title="">
                    </a>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><i class="fas fa-images"></i>
                       Thông tin chụp chiếu
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="f_Updateabc" ng-validate="validatorImage">
                        <div class="form-body">
                            <div class="form-group" ng-if="alertShow">
                                <div class="alert alert-\{{alertClass}}" ng-bind="alertMsg"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mã chụp chiếu:</label>
                                <div class="col-md-8">
                                    <input type="text" readonly class="form-control" ng-value="formUpdateImage.ImageCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Loại chụp chiếu:</label>
                                <div class="col-md-8">
                                    <input type="text" readonly class="form-control" ng-value="formUpdateImage.Type">
                                </div>
                            </div>
                            {{#isActiveFunction Info.Role 'UpdateImage'}}
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button datatype="slide" class="btn btn-success" href="javascript:void(0)"
                                        onclick="$('#pro-image').click()">Upload hình ảnh</button>
                                    <input type="file" id="pro-image" ng-model="images" file-model name="pro-image"
                                        style="display: none;" multiple required>
                                </div>
                                <div class="preview-images-zone">
                                </div>
                            </div>
                            {{/isActiveFunction}}
                            <div class="form-group">
                                <label
                                    class="col-md-4 control-label">Mô tả hình ảnh:</label>
                                <div class="col-md-8">
                                    <textarea name="description" ng-model="formUpdateImage.Note" class="form-control"
                                        rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    {{#isActiveFunction Info.Role 'UpdateImage'}}
                    <button type="button" class="btn green" ng-click="uImage(f_Updateabc)">
                        Lưu</button>
                    {{/isActiveFunction}}
                    <button type="button" data-dismiss="modal" class="btn default">
                        Hủy</button>
                </div>

            </div>
        </div>
    </div>
</div>