<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-compact page-sidebar-menu-closed"
            data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

            <li class="nav-item  {{#active 'class' activity 'Dashboard'}}  {{/active}}">
                <a href="/admin/dashboards" class="nav-link nav-toggle">
                    <i class="icon-speedometer"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>
            {{#isAcceptedScreen Info.Role 'Users'}} 
            <li class="nav-item {{#active 'class' activity 'Users'}}  {{/active}}">
                <a href="" class="nav-link nav-toggle">
                    <i class="icon-users"></i>
                    <span class="title">Quản lý nhân viên </span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item {{#active 'class' activity 'Users'}}  {{/active}}">
                        <a href="/admin/users" class="nav-link ">
                            <i class="icon-users"></i>
                            <span class="title">Nhân viên</span>
                        </a>
                    </li>
                </ul>
            </li>
            {{/isAcceptedScreen}}
                        {{#isAcceptedScreen Info.Role 'Schedules'}} 
            <li class="nav-item {{#active 'class' activity 'Schedules'}}  {{/active}}">
                <a href="" class="nav-link nav-toggle">
                    <i class="icon-calendar"></i>
                    <span class="title">Quản lý khám bệnh </span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item {{#active 'class' activity 'Schedules'}}  {{/active}}">
                        <a href="/admin/schedules" class="nav-link">
                            <i class="icon-calendar"></i>
                            <span class="title">Khám chữa bệnh</span>
                        </a>
                    </li>
                </ul>
            </li>
            {{/isAcceptedScreen}}
            {{#isAcceptedScreen Info.Role 'Patients'}} 
            <li class="nav-item {{#active 'class' activity 'Patients'}}  {{/active}}">
                <a href="" class="nav-link nav-toggle">
                    <i class="fab fa-accessible-icon"></i>
                    <span class="title">Quản lý bệnh nhân </span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item {{#active 'class' activity 'Patients'}}  {{/active}}">
                        <a href="/admin/patients" class="nav-link ">
                            <i class="fab fa-accessible-icon"></i>
                            <span class="title">Bệnh nhân</span>
                        </a>
                    </li>
                </ul>
            </li>
            {{/isAcceptedScreen}}
            {{#isAcceptedScreen Info.Role 'Products'}} 
            <li class="nav-item {{#active 'class' activity 'Products'}}  {{/active}}">
                <a href="" class="nav-link nav-toggle">
                    <i class="fab fa-product-hunt"></i>
                    <span class="title">Quản lý sản phẩm </span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item {{#active 'class' activity 'Medicines'}}  {{/active}}">
                        <a href="/admin/medicines" class="nav-link ">
                            <i class="fas fa-pills"></i>
                            <span class="title">Thuốc</span>
                        </a>
                    </li>
                </ul>
            </li>
            {{/isAcceptedScreen}}
            {{#isAcceptedScreen Info.Role 'Labs'}} 
            <li class="nav-item {{#active 'class' activity 'Labs'}}  {{/active}}">
                <a href="" class="nav-link nav-toggle">
                    <i class="fas fa-vial"></i>
                    <span class="title">Quản lý xét nghiệm</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item {{#active 'class' activity 'Labs'}}  {{/active}}">
                        <a href="/admin/labs" class="nav-link ">
                            <i class="fas fa-vial"></i>
                            <span class="title">Xét nghiệm</span>
                        </a>
                    </li>
                    <li class="nav-item {{#active 'class' activity 'LabResults'}}  {{/active}}">
                        <a href="/admin/lab_result" class="nav-link ">
                            <i class="fas fa-dollar-sign"></i>
                            <span class="title">Kết quả xét nghiệm</span>
                        </a>
                    </li>
                </ul>
            </li>
            {{/isAcceptedScreen}}
            {{#isAcceptedScreen Info.Role 'Images'}} 
            <li class="nav-item {{#active 'class' activity 'Images'}}  {{/active}}">
                <a href="" class="nav-link nav-toggle">
                    <i class="fas fa-images"></i>
                    <span class="title">Quản lý chụp chiếu</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item {{#active 'class' activity 'Images'}}  {{/active}}">
                        <a href="/admin/images" class="nav-link ">
                            <i class="fas fa-images"></i>
                            <span class="title">Chụp chiếu</span>
                        </a>
                    </li>
                </ul>
            </li>
            {{/isAcceptedScreen}}
            {{#isAcceptedScreen Info.Role 'MasterData'}} 
            <li class="nav-item {{#active 'class' activity 'Activity'}}  {{/active}}">
                <a href="" class="nav-link nav-toggle">
                    <i class="icon-cursor"></i>
                    <span class="title">Dữ liệu Master </span>
                    {{!-- <span class="selected"></span> --}}
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item {{#active 'class' activity 'Branches'}}  {{/active}}">
                        <a href="/admin/branches" class="nav-link ">
                            <i class="icon-printer"></i>
                            <span class="title">Chi nhánh phòng khám</span>
                        </a>
                    </li>
                    <li class="nav-item {{#active 'class' activity 'Provinces'}}  {{/active}}">
                        <a href="/admin/provinces" class="nav-link ">
                            <i class="icon-puzzle"></i>
                            <span class="title">Tỉnh/Tp</span>
                        </a>
                    </li>
                    <li class="nav-item {{#active 'class' activity 'Assets'}}  {{/active}}">
                        <a href="/admin/assets" class="nav-link ">
                            <i class="icon-bulb"></i>
                            <span class="title">Thiết bị</span>
                        </a>
                    </li>
                    <li class="nav-item {{#active 'class' activity 'Units'}}  {{/active}}">
                        <a href="/admin/units" class="nav-link ">
                            <i class="icon-anchor"></i>
                            <span class="title">Đơn vị tính</span>
                        </a>
                    </li>
                    <li class="nav-item {{#active 'class' activity 'Brands'}}  {{/active}}">
                        <a href="/admin/brands" class="nav-link ">
                            <i class="icon-users"></i>
                            <span class="title">Thương hiệu</span>
                        </a>
                    </li>
                </ul>
            </li>
            {{/isAcceptedScreen}}
            <li class="nav-item  {{#active 'class' activity 'Log'}}  {{/active}}">
                <a href="/admin/logs" class="nav-link ">
                    <i class="fas fa-history"></i>
                    <span class="title">Lịch sử</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
