<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content dashboard-content">
        <h1 class="page-title font-red-haze"> What is going on ? </h1>
    </div>

    <!-- END CONTENT BODY -->
</div>
