<div class="page-content-wrapper" ng-controller="BrandsController">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-user"></i>
                            <span class="caption-subject sbold uppercase"> Danh sách thương hiệu</span>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="javascript:;" ng-click="paginate.Page = 1; reload();" class="reload"> </a>
                            <a href="javascript:;" class="fullscreen" data-original-title="" title=""> </a>
                        </div>
                        <div class="actions pull-left">
                            <a href="#create_brand" class="btn btn-circle btn-success" data-toggle="modal"><i
                                    class="fa fa-plus"></i>
                                Thêm mới </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-group row">
                            <div class="col-md-10">
                                <div class="col-md-12 flex-box">
                                    <div class="input-group" style="z-index: 1000 !important;">
                                        <div class="input-group-control">
                                            <select style="width: 100px;"
                                                class="selectpicker form-control limit-data pull-left"
                                                ng-model="paginate.Limit" ng-change="paginate.Page = 1; list();"
                                                ng-options="v as v for (k,v) in limitData">
                                                <option value="" ng-if="hideOptions"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 box-search-wrapper">
                                <div class="col-md-12">
                                    <div class="form-search pull-right">
                                        <div class="input-icon right">
                                            <i class="fas fa-search"></i>
                                            <input type="text" ng-model="paginate.Search" name="bar_code"
                                                class="form-control" ng-change="paginate.Page = 1; list()"
                                                placeholder="Tìm kiếm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-scrollable">
                            <table class="table table-light table-hover">
                                <thead>
                                    <tr>
                                        <th class="rowno"> STT </a> </th>
                                        <th class="title"> Mã thương hiệu </th>
                                        <th class="title"> Tên thương hiệu </th>
                                        <th class="title"> Mô tả </a> </th>
                                        <th class="th-size-update"> Trạng thái </a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in brands" id="tbody-\{{$index}}"
                                        ng-class="{selected: $index === selectedBrand}">
                                        <td ng-bind="$index + count"></td>
                                        <td>
                                            <a href="#update_brand" ng-click="info(item, $index);" ng-bind="item.BrandCode"
                                                data-toggle="modal"></a>
                                        </td>
                                        <td>
                                            <a href="#update_brand" ng-click="info(item, $index);" ng-bind="item.BrandName"
                                                data-toggle="modal"></a>
                                        </td>
                                        <td ng-bind="item.Description"></td>
                                        <td class="status ">
                                            <div class="btn-group status dropup update-status-mgt">
                                                <label class="btn btn-sm btn-status"
                                                    ng-class="item.Status | filterStatusToClass"
                                                    ng-bind="item.Status | filterStatusToText">
                                                </label>
                                                <button type="button" class="btn btn-sm btn-info dropdown-toggle"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-angle-up"></i>
                                                </button>
                                                <ul class="dropdown-menu status pull-right" role="menu">
                                                    <li class="status-Remove"><a href="javascript:;" data-value="Remove"
                                                            ng-click="deleteBrands(item._id, item.BrandName)">
                                                            Xóa </a></li>
                                                    <li class="status-Active"><a href="javascript:;" data-value="Active"
                                                            ng-click="updateStatus(200, item._id, $index)">
                                                            Hoạt động
                                                        </a>
                                                    </li>
                                                    <li class="status-Inactive"><a href="javascript:;"
                                                            data-value="Inactive"
                                                            ng-click="updateStatus(400, item._id, $index)">
                                                            Ngừng </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="boxs-footer dvd dvd-top">
                            <div class="row" ng-if="pagination.show">
                                <div class="col-sm-3 text-left">
                                    <small class="text-muted"
                                        ng-bind="'Hiển thị ' + pagination.skip + '-' + pagination.toSkip + '/' + pagination.total + ' mục'">
                                    </small>
                                </div>
                                <div class="col-sm-3 hidden-xs">
                                </div>
                                <div class="col-sm-6 text-right">
                                    <ul class="pagination m-0">
                                        <li>
                                            <a ng-click="firstPage()">
                                                <i class="fas fa-angle-double-left"></i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="prevPage()">
                                                <i class="fa fa-chevron-left"></i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li ng-repeat="page in pagination.pages" style="cursor: pointer"
                                            ng-class="{active:pagination.page === page}">
                                            <a ng-click="setPage(page)" ng-bind="page"></a>
                                        </li>
                                        <li>
                                            <a ng-click="nextPage()">
                                                <i class="fa fa-chevron-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="endPage()">
                                                <i class="fas fa-angle-double-right"></i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="create_brand" class="modal fade in" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="fullscreen" data-original-title="" title="">
                    </a>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><i class="fas fa-user-circle"></i>
                        Thông tin thương hiệu
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="f_CreateBrand" ng-validate="validator">
                        <div class="form-body">
                            <div class="form-group" ng-if="alertShow">
                                <div class="alert alert-\{{alertClass}}" ng-bind="alertMsg"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Mã thương hiệu<span
                                        class="required">(*)</span>:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="brand_code"
                                        ng-model="formCreate.BrandCode" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tên thương hiệu<span
                                        class="required">(*)</span>:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="brand_name"
                                        ng-model="formCreate.BrandName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label
                                    class="col-md-3 control-label">Mô tả:</label>
                                <div class="col-md-9">
                                    <textarea name="description" ng-model="formCreate.Description" class="form-control"
                                        rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" ng-click="create(f_CreateBrand)">
                        Lưu</button>
                    <button type="button" data-dismiss="modal" class="btn default">
                        Hủy</button>
                </div>

            </div>
        </div>
    </div>
    <div id="update_brand" class="modal fade in" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="fullscreen" data-original-title="" title="">
                    </a>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><i class="fas fa-user-circle"></i>
                        Thông tin thương hiệu
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="f_UpdateBrand" ng-validate="validator">
                        <div class="form-body">
                            <div class="form-group" ng-if="alertShow">
                                <div class="alert alert-\{{alertClass}}" ng-bind="alertMsg"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Mã thương hiệu<span
                                        class="required">(*)</span>:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="brand_code"
                                        ng-model="formUpdate.BrandCode" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tên thương hiệu<span
                                        class="required">(*)</span>:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="brand_name"
                                        ng-model="formUpdate.BrandName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label
                                    class="col-md-3 control-label">Mô tả:</label>
                                <div class="col-md-9">
                                    <textarea name="description" ng-model="formUpdate.Description" class="form-control"
                                        rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" ng-click="update(f_UpdateBrand)">
                        Lưu</button>
                    <button type="button" data-dismiss="modal" class="btn default">
                        Hủy</button>
                </div>

            </div>
        </div>
    </div>
</div>